/** --------------------------------------------------------------
 * header
 */

// @fontFamilySiteLogo: @fontFamilyAnton;



.outer-wrap-header {
    flex-shrink: 0;
}

.site-logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.site-logo-text {
    padding-left: 0.2em;
    a {
        font-family: @fontFamilySiteLogo;
        text-transform: uppercase;
        background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.rm-navbar {
    //text-align: center;
    font-size: 1.1em;
    line-height: 0;
}

.rm-menu-button {
    font-size: 1.5em;
}

.rm-desktop li ul {
    background-color: #fff;
}

.wrap-sidebar .block h4 {
    border-top: 1px solid #ccc;
    background-image: linear-gradient(to right, #fff, #ccc);
}

.region-header-col-1,
.region-header-col-2,
.region-header-col-3 {
    margin-top: 0.5em;
}

@media screen and (min-width: 900px) {
    .nav-login {
        border: 3px solid rgba(51, 51, 51, 0.883);
        font-size: 18px;
        //margin-top: 20px;
        //padding: 10px 50px;
        width: 115px;
        cursor: pointer;
        transition: .4s;
        text-align: center;
        &:hover {
            background: rgba(51, 51, 51, 0.883);
            //padding: 10px 80px;
            color: white;
        }
        & a:hover {
            text-decoration: none;
        }
    }

    .nav-left {
            margin-left: 60px;
        }

    .rm-navbar {
        float: right;
    }
}
