/** --------------------------------------------------------------
 * header
 */
@fontFamilyHeadings: @fontFamilyCambria;



.outer-wrap-header {
    flex-shrink: 0;
}

.site-logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.site-logo-text {
    font-family: @fontFamilySiteLogo;
    padding-left: 0.2em;
}

.rm-navbar {
    //text-align: center;
    font-family: @fontFamilyCambria;
    font-size: 1.5em;
    line-height: 0;
}

.rm-menu-button {
    font-size: 1.5em;
}

.rm-desktop li ul {
    background-color: #fff;
}

.wrap-sidebar .block h4 {
    border-top: 1px solid #ccc;
    background-image: linear-gradient(to right, #fff, #ccc);
}
