/** --------------------------------------------------------------
 * Questions
 */

/** 
 * Style for questions page
 */

.question-container {
    > a {
        text-decoration: none;
        color: @colorBody;
        & h3{
            color: #2e73b5;
        }
        &:hover {
            color: #2e73b5;
            text-decoration: none;
            text-shadow: 0 0 3px rgba(112, 112, 112, 0.781);
        }
    }
    > p {
        padding: 5px;
        background-image: linear-gradient(to left,rgb(97, 198, 157) 0,rgb(45, 114, 188) 100%);
        color: rgb(255, 255, 255);
    }
    .answer-span {
        float: right;
    }
    .comment {
        margin-left: 150px;
        > p {
            padding: 0;
            background-image: none;
            color: @colorBody;
        }
        .user-img img {
            width: 60px;
        }
        .user-small h3 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.question {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: @magicNumber;
    .text {
        margin-right: 20px;
        width: 75%;
        background-color: rgb(240, 240, 240);
        padding: 7px;
    }
    .score {
        margin-right: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .user-right {
        align-self: center;
    }
}


/** 
 * Style for tags
 */

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: @magicNumber;
    & a {
        padding: 5px;
        color: #469aad;
        background-color: rgb(51, 51, 51);
        border: 3px solid rgba(51, 51, 51, 0.883);
    }
    a:hover {
        cursor: pointer;
        background-color: white;
        color: @colorBody;
    }
}

/** 
 * Style for score
 */

.vote-up,
.vote-down {
    border: none;
    background-color: white;
    cursor: pointer;
    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .up {
        transform: rotate(-135deg);
    }
    .down {
        transform: rotate(45deg);
    }
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
    margin-top: 1em;
}

.gray {
    border-bottom: 7px solid #6e6e6e;
    border-right: 7px solid #6e6e6e;
}

/** 
 * Style for answers
 */

.answer-container {
    margin-left: 70px;
    > h4 {
        color: rgb(46, 115, 181);
    }
}